*{
    outline: none;
}

body{
    overflow-x: hidden !important;
    max-width: 100%;
    font-family: 'Inter', sans-serif;
}

/* INDEX AKA HOME PAGE */

/* background NOT WORKING atm */
/* .homebg{
    margin: 0;
    padding: 0;
    background: url('images/yourimage.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

/* nav bar */

/* .navbar-default .navbar-nav > li:hover > a, 
.navbar-default .navbar-nav > li:hover > a:hover,
.navbar-default .navbar-nav > li:hover > a:focus {
    background-color: white!important;
    color: black!important;
} */

#navbar-custom { 
    background-color: #f6d6d6!important; 
}

.nav-item{
    font-size: 20px;
}

.navbar-brand{
    font-weight: 800!important;
    margin-left: 10px!important;
    margin-right: 10px!important;
}

.homelink{
    text-align: center!important;
    margin-left: 10px!important;
    margin-right: 10px!important;
}

.button-signup{
    width: 100px;
    height: 40px;
    position: relative;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 20px;
    margin: 10px;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
    background-image: linear-gradient(to right, #7EA336 0%, #fe9a28 51%, #7EA336 100%);
}

.button-login{
    width: 100px;
    height: 40px;
    position: relative;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 20px;
    margin: 10px;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
    background-image: linear-gradient(to right, #B53737 0%, #BFA6A2 51%, #B53737 100%);
    /* background: linear-gradient(90deg, #BFA6A2 0%, #B53737 104.29%); */
}

button{
    border-color:transparent!important;
    outline:none!important;
}

button a {
    color: white;
}

button a:hover {
    color: white;
    text-decoration: none;
}

.gradient-button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px 10px 12px;
    background-position: right center;
}

/* home text and image in two columns */
.homecol{
    padding: 20px;
}
.hometext{
    padding: 35px;
}

.homeimage{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    max-width: 100%;
    max-height: 100%;
    height: 80%!important;
    width: 80%!important;
    margin: 10%;
}

.card {
    margin-top: 30px;
}

.card a {
    color: black;
    transition: box-shadow 0.5s;
}

.card a:hover {
    text-decoration: none;
    color: black;
    box-shadow: 4px 4px 20px #00000033;
}