{% extends "base-logged-in.html" %}

{% block content %}

<h1 class="general-heading">Find Study Buddies</h1>

<div class="allprofiles">
    <div class="row prof-row">
        <div class="card-container prof-container">
            <!-- front -->
            <div class="front side">
                <div class="content">
                    <img class="round" src="https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="profile picture" style="width:200px; height:200px; object-fit:cover;" />
                    <h3 class="prof-name">Eva Smith</h3>
                    <h5 class="prof-college">CAS</h5>
                    <p class="prof-commons">Common Courses: AEM 2100,<br> ANTH XXXX</p>
                    <div class="buttons">
                        <button class="prof-button">Message</button>
                        <button class="prof-button">Follow</button>
                    </div>
                </div>
            </div>
            <!-- back -->
            <div class="back side">
                <div class="content">
                    <h3 class="prof-name">eks148@cornell.edu</h3>
                    <h5 class="prof-college">CAS</h5>
                    <p class="prof-commons">Common Courses: AEM 2100,<br> ANTH XXXX</p>
                    <p class="prof-commons">Groups Open:<br> ANTH XXXX, DSOC XXXX</p>
                    <div class="buttons">
                        <button class="prof-button">Message</button>
                        <button class="prof-button">Follow</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-container prof-container">
            <!-- front -->
            <div class="front side">
                <div class="content">
                    <img class="round" src="static/images/aaronfink.jpeg" style="width:200px; height:200px; object-fit:cover;"/>
                    <h3 class="prof-name">Aaron Fink</h3>
                    <h5 class="prof-college">CAS</h5>
                    <p class="prof-commons">Common Courses: AEM 2100,<br> ANTH XXXX</p>
                    <div class="buttons">
                        <button class="prof-button">Message</button>
                        <button class="prof-button">Follow</button>
                    </div>
                </div>
            </div>
            <!-- back -->
            <div class="back side">
                <div class="content">
                    <h3 class="prof-name">eks148@cornell.edu</h3>
                    <h5 class="prof-college">CAS</h5>
                    <p class="prof-commons">Common Courses: AEM 2100,<br> ANTH XXXX</p>
                    <p class="prof-commons">Groups Open:<br> ANTH XXXX, DSOC XXXX</p>
                    <div class="buttons">
                        <button class="prof-button">Message</button>
                        <button class="prof-button">Follow</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-container prof-container">
            <!-- front -->
            <div class="front side">
                <div class="content">
                    <img class="round" src="https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="profile picture" style="width:200px; height:200px; object-fit:cover;" />
                    <h3 class="prof-name">Eva Smith</h3>
                    <h5 class="prof-college">CAS</h5>
                    <p class="prof-commons">Common Courses: AEM 2100,<br> ANTH XXXX</p>
                    <div class="buttons">
                        <button class="prof-button">Message</button>
                        <button class="prof-button">Follow</button>
                    </div>
                </div>
            </div>
            <!-- back -->
            <div class="back side">
                <div class="content">
                    <h3 class="prof-name">eks148@cornell.edu</h3>
                    <h5 class="prof-college">CAS</h5>
                    <p class="prof-commons">Common Courses: AEM 2100,<br> ANTH XXXX</p>
                    <p class="prof-commons">Groups Open:<br> ANTH XXXX, DSOC XXXX</p>
                    <div class="buttons">
                        <button class="prof-button">Message</button>
                        <button class="prof-button">Follow</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row">
    {% for course in courses %}
        {% if (loop.index - 1) % 3 == remainder %}
            <div class="card prof-container">
                <img class="round" src="https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="profile picture" style="width:200px; height:200px; object-fit:cover;" />
                <h3 class="prof-name">{{ subject }}</h3>
                <h5 class="prof-college">{{ course.name }}</h5>
                <p class="prof-commons">Common Courses: AEM 2100,<br> ANTH XXXX</p>
                <div class="buttons">
                    <button class="prof-button">Message</button>
                    <button class="prof-button">Follow</button>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div> -->
{% endblock %}