{% extends "base-logged-in.html" %}

{% block content %}
    <h1 class="general-heading">Groups</h1>
    {% for i in range(groups|length) %}
        <div class="card">
            <a href="/group/{{ groups[i]._id }}">
                <div class="card-body">
                    <h5 class="card-title">{{ organizers[i].first_name }}'s study group for {{ groups[i].subject }} {{ groups[i].course_number }}</h5>
                    <h6>{{ groups[i]["member_cap"] - groups[i].members|length }} out of {{ groups[i].member_cap }} seats are open</h6>
                </div>
            </a>
        </div>
    {% endfor %}
{% endblock %}