{% extends "base-logged-out.html" %}

{% block content %}

        <!-- landing page text -->
    <div class="index-area">
        <div class="landing-text">
            <div class="row">
                <div class="col d-flex justify-content-center text-center">
                    <img src="../static/images/people_education.jpg" alt="people with books" class="homeimage">
                </div>
                <div class="col homecol">
                    <p style="font-size:35px; color:black; font-weight:normal;" class="hometext">
                        <span style="color: #B53737">Pick</span>
                        your study group from the field.
                    </p>
                    <p style="font-size:35px; color:black; font-weight:normal;" class="hometext">
                        Stay <span style="color: #B53737">connected</span> and
                        <span style="color: #B53737">ace</span> your
                        <span style="color: #B53737">exams</span> with
                        <span style="color: #7EA336">CornField</span>, the new
                        land for studying together.
                    </p>
                    <p style="font-size:35px; color:black; font-weight:normal;" class="hometext">
                        Get to know each other and find <span style="color: #B53737">likeminded</span> people.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}