{% extends "base-logged-in.html" %}

{% block content %}

    <!-- landing page text -->
    <div class="landing-text">
        <div class="row">
            <div class="col d-flex justify-content-center text-center">
                <img src="../static/images/homeimage.png" alt="zoom uni is here" class="homeimage">
            </div>
            <div class="col homecol">
                <p style="font-size:35px; color:black; font-weight:normal;" class="hometext">
                    <span style="color: #B53737">Find</span> your <span style="color: #7EA336">classes</span>
                    from all subjects.
                </p>
                <p style="font-size:35px; color:black; font-weight:normal;" class="hometext">
                    <span style="color: #B53737">Join</span> or 
                    <span style="color: #B53737">create</span>
                    <span style="color: #7EA336">study groups</span>.
                </p>
                <p style="font-size:35px; color:black; font-weight:normal;" class="hometext">
                    Share your knowledge and learn from others! 
                    Get <span style="color: #B53737">good grades</span> from
                    <span style="color: #7EA336">study tips</span> and
                    <span style="color: #7EA336">study guides</span>.
                </p>
            </div>
        </div>
    </div>

{% endblock %}