{% extends "base-logged-out.html" %}

{% block content %}
<div class="container-login">
    <div class="container py-5">
        <h1 class="loginform-text">Welcome back to Cornfield!</h1>
        <div class="row">
            <div class="col-md-10 mx-auto">
                <form action="/post-login" method="post" class="loginform">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="email">Email:</label>
                            <input name="email" type="email" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <label for="password">Password:</label>
                            <input name="password" type="password" class="form-control">
                        </div>
                    </div>
                    <div class="loginsubmit">
                        <input type="submit" value="Submit" class="loginforminput form-control">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="flyingcorn" >
    <ul class="corn">
            <li><img class="corn" src="../static/images/onecorn.svg" alt="onecorn"></li>
            <li><img class="corn" src="../static/images/onecorn.svg" alt="onecorn"></li>
            <li><img class="corn" src="../static/images/onecorn.svg" alt="onecorn"></li>
            <li><img class="corn" src="../static/images/onecorn.svg" alt="onecorn"></li>
            <li><img class="corn" src="../static/images/onecorn.svg" alt="onecorn"></li>
            <li><img class="corn" src="../static/images/onecorn.svg" alt="onecorn"></li>
            <li><img class="corn" src="../static/images/onecorn.svg" alt="onecorn"></li>
            <li><img class="corn" src="../static/images/onecorn.svg" alt="onecorn"></li>
            <li><img class="corn" src="../static/images/onecorn.svg" alt="onecorn"></li>
            <li><img class="corn" src="../static/images/onecorn.svg" alt="onecorn"></li>
            <li><img class="corn" src="../static/images/onecorn.svg" alt="onecorn"></li>
    </ul>
</div>
{% endblock %}