{% extends "base-logged-in.html" %}

{% block content %}

<h1 class="general-heading">My Profile</h1>

<div class="row">
    <div class="card myprofile-card" style="width: 60rem; height: 30rem;">
        <div class="card-body myprofile-body">
            <img class="round" src="https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="profile picture" style="width:200px; height:200px; object-fit:cover;" />
            <h3 class="prof-name">Eva Smith</h3>
            <h5 class="card-title">CAS - eks148@cornell.edu</h5>
            <h5 class="card-title">My Groups: Class XXXX, Class XXXX, Class XXXX, Class XXXX</h5>
            <h5 class="card-title">My Classes: Class XXXX, Class XXXX, Class XXXX, Class XXXX</h5>
            <a href="#" class="card-link" style="color:#f9ae0b;">Find Groups</a>
        </div>
    </div>
</div>

{% endblock %}