{% extends "base.html" %}

{% block content %}
    <form action="/post-signup" method="post">
        <label for="first_name">First name:</label>
        <input name="first_name">
        <label for="last_name">Last name:</label>
        <input name="last_name">
        <label for="email">Email:</label>
        <input name="email">
        <label for="password">Password:</label>
        <input name="password">
        <label for="grad_year">Graduation year:</label>
        <select name="grad_year">
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
        </select>
        <label for="college">College:</label>
        <select name="college">
            <option value="cals">Agriculture and Life Sciences</option>
            <option value="aap">Architecture, Art and Planning</option>
            <option value="cas">Arts and Sciences</option>
            <option value="hotel">Hotel Administration</option>
            <option value="dyson">Dyson</option>
            <option value="coe">Engineering</option>
            <option value="humec">Human Ecology</option>
            <option value="ilr">Industrial and Labor Relations</option>
        </select>
        <input type="submit" value="Submit">
    </form>
{% endblock %}