{% extends "base-logged-in.html" %}


{% block content %}
    <div class="row">
        {% for col in subjects | batch(3) %}
            <div class="col-4">
                {% for subject in col %}
                    <div class="card">
                        <a href="/courses/{{ subject.abbrieviation }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ subject.name }}</h5>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}